<form [formGroup]="regform">
    <div class="content" role="main">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="text-align: center;">register user</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group head">
                username:
                <input type="text" class="form-control " formControlName="uname">
                <span class="error" *ngIf="regform.controls['uname'].getError('required')!=null">enter username</span>
                <span class="error" *ngIf="regform.controls['uname'].getError('minlength')!=null">user name should be atleast 4 letters</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group head">
                password:
                <input type="password" class="form-control " formControlName="password">
                <span class="error" *ngIf="regform.controls['password'].getError('required')!=null">enter username</span>
                <span class="error" *ngIf="regform.controls['password'].getError('minlength')!=null">user name should be atleast 4 letters</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group head">
                confirmpassword:
                <input type="password" class="form-control " formControlName="cpassword">
                <span class="error" *ngIf="regform.controls['cpassword'].getError('required')!=null">enter password</span>
                <span class="error" *ngIf="regform.controls['cpassword'].getError('Mustmatch')!=null">confirm password is not matched</span>
            </div>
        </div>
    </div>
</form>
