<div class="row">
    <div class="col">
        Title
        <input type="text" class="form-control w-50 mt-4" [(ngModel)]="title" >
    </div>
    </div>
    <div class="row">
        <div class="col">
        content
        <input type="text" class="form-control w-50 mt-4">
    </div>
</div>&nbsp;
<button class="btn btn-primary form-group">sendpost</button>
<div class="row">
    <div class="col-6">
        <button class="btn btn-primary col-3">fetch posts</button>
        &nbsp;&nbsp;<button class="btn btn-primary col-3">clear posts</button>
    </div>
</div>
